---
import { Image } from "astro:assets";

import InfoLayout from "../../layouts/infoLayout/InfoLayout.astro";
import FlexGrid from "../../components/flexGrid/FlexGrid.astro";
import Section from "../../components/section/Section.astro";

import styles from "./about.module.scss";

import fiveRingsImg from "../../assets/icons/fiveRings.png";
import mountainsImg from "../../assets/photos/mountains.jpg";
import jugglingImg from "../../assets/photos/juggling.jpg";
import stonebloomImg from "../../assets/photos/stonebloom.jpg";
import revikImg from "../../assets/photos/revik.webp";

const ipsum =
  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit ut aliquam purus. Dolor sit amet consectetur adipiscing elit duis tristique.";
---

<InfoLayout title="Nicodes | Portfolio">
  <h2>About me!</h2>

  <FlexGrid>
    <Fragment slot="left">
      <Section>
        <p>
          Here I describe my hobies and interests. While I love to code, that
          isn't all I do! I hope this highlights who I am and the inspirations
          for my work.
        </p>
        <p>To learn more please <a>reach out</a>!</p>
      </Section>

      <Section>
        <h3>Philosophy</h3>
        <Image
          src={fiveRingsImg}
          width={60}
          height={60}
          alt="open navigation icon"
          class={styles.fiveRings}
        />

        <p>
          <span class={styles.musashiQutote}
            >"Know the way broadly, and you will see it in all things."</span
          > - Miyamoto Musashi
        </p>

        <p>
          This idea is a foundation for my life. I've learned that anything I do
          improves my abilities in other areas. This is especially true when I
          love the activity, I hope learning more about me will showcase the
          quality I bring to my work.
        </p>
      </Section>

      <Section>
        <h3>Balancing</h3>
        <Image
          src={stonebloomImg}
          width={600}
          height={600}
          alt="open navigation icon"
        />
        <p>
          Balance is one of my guiding principals. This is one of my sculptures
          which I love to make in my free time.
        </p>
        <p>
          Through my practice I've learned how to fight entropy and work with
          available materials. These concepts are instrumental in my engineering
          practice, helping me navigate complex architectures practically.
        </p>
        <p>
          To see more check out my Instagram: <a
            href="https://www.instagram.com/stonebloom/">@stonebloom</a
          >
        </p>
      </Section>

      <Section>
        <h3>Game Dev</h3>
        <Image
          src={revikImg}
          width={600}
          height={600}
          alt="open navigation icon"
        />
        <p>
          If you couldn't tell, I have an over-imaginative mind. While I love
          creative engineering because of the challenging rules, I also like to
          let loose!
        </p>
        <p>
          Currently I'm developing 2 mobile games using the Godot engine. The
          first is a modern twist on a classic arcade game, and the second is a
          bord-based fantasy card game. More info coming soon!
        </p>
      </Section>
    </Fragment>

    <Fragment slot="right">
      <Section>
        <h3>Altitude</h3>
        <Image
          src={mountainsImg}
          width={600}
          height={600}
          alt="open navigation icon"
        />
        <p>
          While working on projects is fun, it's important to get away and gain
          perspective. I love hiking and climbing, especially with with my dog
          Anastasia!
        </p>
        <p>
          Please remember if I don't respond right away, there may be no cell
          service in the mountains!
        </p>
      </Section>

      <Section>
        <h3>Juggling</h3>
        <Image
          src={jugglingImg}
          width={600}
          height={600}
          alt="open navigation icon"
        />
        <p>
          {ipsum}
        </p>
      </Section>
    </Fragment>
  </FlexGrid>
</InfoLayout>
