---
import { Image } from "astro:assets";
import fiveRingsImg from "../../assets/fiveRings.png";

import BaseLayout from "../../layouts/baseLayout/BaseLayout.astro";
import FlexGrid from "../../components/flexGrid/FlexGrid.astro";
import styles from "./portfolio.module.scss";

const ipsum =
  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur adipiscing elit ut aliquam purus. Dolor sit amet consectetur adipiscing elit duis tristique.";
---

<BaseLayout type="fixed" title="Nicodes | Portfolio" class={styles.page}>
  <h2>About me!</h2>

  <FlexGrid class={styles.grid}>
    <Fragment slot="left">
      <section class={styles.section}>
        <p>A list of my hobies and interests.</p>
        <p>To learn more please <a>reach out</a>!</p>
      </section>

      <section class={styles.section}>
        <h3>Philosophy</h3>
        <Image
          src={fiveRingsImg}
          width={60}
          height={60}
          alt="open navigation icon"
        />

        <p>
          {ipsum}
        </p>
      </section>

      <section class={styles.section}>
        <h3>Balancing</h3>
        <p>
          {ipsum}
        </p>
      </section>
    </Fragment>

    <Fragment slot="right">
      <section class={styles.section}>
        <h3>Birds Eye</h3>
        <p>
          {ipsum}
        </p>
      </section>

      <section class={styles.section}>
        <h3>Juggling</h3>
        <p>
          {ipsum}
        </p>
      </section>
    </Fragment>
  </FlexGrid>
</BaseLayout>
