---
import styles from "./button.module.scss";

interface Props {
  id?: string;
  class?: string;
  href?: string;
  targetBlank?: boolean;
  anchor?: boolean;
  color?: "white" | "black" | "red";
}

const {
  id,
  href,
  targetBlank,
  color = "white",
  anchor = true,
  class: className,
} = Astro.props;
---

{
  anchor ? (
    <a
      id={id}
      href={href}
      target={targetBlank ? "_blank" : undefined}
      class={`${styles.button} ${color === "red" ? styles.red : ""} ${
        color === "black" ? styles.black : ""
      } ${className}`}
    >
      <slot />
    </a>
  ) : (
    <button
      id={id}
      class={`${styles.button} ${color === "red" ? styles.red : ""} ${
        color === "black" ? styles.black : ""
      } ${className}`}
    >
      <slot />
    </button>
  )
}
