---
import styles from "./button.module.scss";

type Props = {
  id?: string;
  class?: string;
  color?: "white" | "black" | "red";
  extraPadding?: boolean;
} & (
  | {
      anchor: true;
      href?: string;
      targetBlank?: boolean;
    }
  | {
      anchor?: undefined;
      href?: undefined;
      targetBlank?: undefined;
    }
);

const {
  id,
  class: className,
  anchor,
  href,
  targetBlank,
  color = "white",
  extraPadding,
} = Astro.props;

// what a mess, should add classnames package
const classes = `${styles.button} ${color === "white" ? styles.white : ""} ${
  color === "red" ? styles.red : ""
} ${color === "black" ? styles.black : ""} ${
  extraPadding ? styles.extraPadding : ""
} ${className}`;
---

{
  anchor ? (
    <a
      id={id}
      href={href}
      target={targetBlank ? "_blank" : undefined}
      class={classes}
    >
      <slot />
    </a>
  ) : (
    <button id={id} class={classes}>
      <slot />
    </button>
  )
}
