---
import styles from "./button.module.scss";

interface Props {
  id?: string;
  href?: string;
  targetBlank?: boolean;
  anchor?: boolean;
  red?: boolean;
}

const { id, href, targetBlank, red, anchor = true } = Astro.props;
---

{
  anchor ? (
    <a
      id={id}
      href={href}
      target={targetBlank ? "_blank" : undefined}
      class={`${styles.button} ${red ? styles.red : ""}`}
    >
      <slot />
    </a>
  ) : (
    <button id={id} class={`${styles.button} ${red ? styles.red : ""}`}>
      <slot />
    </button>
  )
}
