---
import type { string } from "astro/zod";
import styles from "./circle.module.scss";

interface Props {
  diameter?: string;
  color?: string;
  border?: string;
  opacity?: number;
  class?: string;
}

const {
  diameter = "100%",
  color = "none",
  border = "none",
  opacity = 1,
  class: className,
} = Astro.props;

const style = `height: ${diameter}; width: ${diameter}; background-color: ${color}; border: ${border}; opacity: ${opacity}`;
---

<div class={`${styles.circle} ${className}`} style={style}>
  <slot />
</div>
