---
import { Image } from "astro:assets";

import Circle from "../circle/Circle.astro";
import Button from "../button/Button.astro";
import WavingHand from "../wavingHand/WavingHand.astro";
import styles from "./hero.module.scss";
import nicoImg from "../../assets/photos/nico.jpg";
---

<section class={styles.hero}>
  <Circle diameter="300px" class={styles.imgContainer}>
    <Image src={nicoImg} alt="open navigation icon" />
  </Circle>

  <div class={styles.textContainer}>
    <p class={styles.helloContainer}>
      Hi! I'm Nico
      <WavingHand />
    </p>

    <p>
      I <span>design</span> custom
      <br />
      web experiences.
    </p>

    <p>
      Let's <span>build</span>
      <br />
      something together!
    </p>

    <div class={styles.buttonsContainer}>
      <Button
        anchor
        href="/portfolio"
        class={styles.contactButton}
        color="black"
        extraPadding
      >
        Portfolio
      </Button>
      <Button
        anchor
        href="mailto:nicozessoules@gmail.com"
        color="red"
        extraPadding
      >
        Contact
      </Button>
    </div>
  </div>
</section>
