---
import Button from "../button/Button.astro";
import WavingHand from "../wavingHand/WavingHand.astro";
import styles from "./hero.module.scss";
---

<section class={styles.hero}>
  <div class={`${styles.circle} ${styles.imgContainer}`}>
    <img
      src="https://media.licdn.com/dms/image/C5103AQEq9TCVcdl8Kg/profile-displayphoto-shrink_400_400/0/1517586080421?e=2147483647&v=beta&t=GlJ93UvsE0smWLyOhwRyV_8zDAUkxAzmq0I49lFkZGQ"
    />
  </div>

  <div class={styles.textContainer}>
    <p class={styles.helloContainer}>
      Hi! I'm Nico
      <WavingHand />
    </p>
    <p>
      I <span>design</span> custom
      <br />
      web experiences.
    </p>
    <p>
      Let's <span>build</span>
      <br />
      something together!
    </p>
    <div class={styles.buttonsContainer}>
      <Button
        anchor
        href="/portfolio"
        class={styles.contactButton}
        color="black"
        extraPadding
      >
        Portfolio
      </Button>
      <Button
        anchor
        href="mailto:nicozessoules@gmail.com"
        color="red"
        extraPadding
      >
        Contact
      </Button>
    </div>
  </div>
</section>
