---
import styles from "./sideNav.module.scss";
---

<nav class={styles.fixedContainer} transition:persist>
  <div class={styles.relativeContainer}>
    <div
      id="drawer"
      class={styles.drawer}
      style="transform: translateX(-100%); opacity: 0"
    >
      <div class={styles.scroll}>
        <a href="/">Home</a>
        <a href="mailto:nicozessoules@gmail.com">Contact</a>
        <a href="/about">About</a>
        <a href="/portfolio">Portfolio</a>
        <a target="_blank" href="https://github.com/nicodes">Github</a>
        <a target="_blank" href="https://www.linkedin.com/in/nicozessoules"
          >Linkedin</a
        >
        <!-- {Array.apply(null, Array(400)).map((e) => <a>drawer</a>)} -->
      </div>
      <div class={styles.borderContainer}>
        <div class={styles.border}></div>
      </div>
    </div>
  </div>
</nav>

<script>
  const headerButton = document.getElementById("header-button");
  const drawer = document.getElementById("drawer");

  function toggleDrawer() {
    if (drawer?.style?.transform === "translateX(-100%)") {
      drawer.style.transform = "translateX(0)";
      drawer.style.opacity = "1";
    } else if (drawer?.style?.transform) {
      drawer.style.transform = "translateX(-100%)";
      drawer.style.opacity = "0";
    }
  }

  headerButton?.addEventListener("click", toggleDrawer);
</script>
