---
import { Image } from "astro:assets";
import menuImg from "../../assets/menu.svg";
import mailImg from "../../assets/mail.svg";

import Button from "../button/Button.astro";
import styles from "./header.module.scss";
---

<header class={styles.header}>
  <Button color="black" id="header-button">
    <Image src={menuImg} alt="open navigation icon" />
  </Button>
  <a href="/" class={styles.nicodes}>
    <h1>Nicodes</h1>
  </a>
  <a href="/about">About</a>
  <a href="/portfolio">Portfolio</a>
  <a href="https://github.com/nicodes" target="_blank">Github</a>
  <a href="https://www.linkedin.com/in/nicozessoules/" target="_blank">
    Linkedin
  </a>
  <Button
    anchor
    color="red"
    href="mailto:nicodes@gmail.com"
    class={styles.contactButton}
  >
    Contact
  </Button>
  <Button
    anchor
    color="red"
    href="mailto:nicodes@gmail.com"
    class={styles.contactButtonIcon}
  >
    <Image src={mailImg} alt="open navigation icon" />
  </Button>
</header>
