---
import "@fontsource/raleway";
import { ViewTransitions } from "astro:transitions";

import Header from "../components/header/Header.astro";
import Nav from "../components/nav/Nav.astro";

import "../styles.scss";
import styles from "./layout.module.scss";

interface Props {
  type: "flex" | "fixed";
  title: string;
  class?: string;
}

const { type, title, class: className } = Astro.props;

const bodyStyles =
  type === "flex" ? styles.flexHeaderBody : styles.fixedHeaderBody;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>

  <body class={bodyStyles}>
    <Header />

    <main>
      <div class={`${styles.pageContainer} ${className}`}>
        <slot />
      </div>
    </main>

    <Nav />
  </body>
</html>
