---
import Header from "../components/header/Header.astro";
import SideNav from "../components/sideNav/SideNav.astro";

import "../styles.scss";
import styles from "./layout.module.scss";

interface Props {
  type: "flex" | "fixed"; // this prop sucks, needed because <body> can't be defined in child layouts
  title: string;
  class?: string;
}

const { type, title, class: className } = Astro.props;

const bodyStyles =
  type === "flex" ? styles.flexHeaderBody : styles.fixedHeaderBody;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <!-- for some reason astro won't allow CSS classes on the <body> tag, Ideally I think the <body> tag should be defined in child layouts over here in root -->
  <body class={bodyStyles}>
    <Header />
    <SideNav />
    <main>
      <div class={`${styles.pageContainer} ${className}`}>
        <slot />
      </div>
    </main>
  </body>
</html>
