---
import { navId, navIndexAnchorId } from "../../scripts/elementIds";
import styles from "./nav.module.scss";

const resumeId = import.meta.env.GOOGLE_DRIVE_RESUME_ID;
---

<div class={styles.navFixedContainer} transition:persist>
  <div class={styles.navRelativeContainer}>
    <nav id={navId} class={styles.nav}>
      <div class={styles.scroll}>
        <a href="mailto:nicozessoules@gmail.com">Contact</a>
        <a id={navIndexAnchorId}>Home</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/about">About</a>
        <a href=`https://drive.google.com/uc?export=download&id=${resumeId}`
          >Resume</a
        >
        <a target="_blank" href="https://github.com/nicodes">GitHub</a>
        <a target="_blank" href="https://www.linkedin.com/in/nicozessoules"
          >Linkedin</a
        >
        <!-- {Array.apply(null, Array(400)).map((e) => <a>nav</a>)} -->
      </div>

      <div class={styles.borderContainer}>
        <div class={styles.border}></div>
      </div>
    </nav>
  </div>
</div>

<script>
  import { navigate } from "astro:transitions/client";

  import { getNav, getNavIndexAnchor } from "../../scripts/client/elements";
  import { timeout } from "../../scripts/utils";
  import { navigateHome } from "../../scripts/client/navigation";

  import { navToggle } from "./nav";

  // Close nav and header border for nav link to index
  getNavIndexAnchor()?.addEventListener("click", navigateHome);

  // Close nav for nav links to portfolio and about
  getNav()
    ?.querySelectorAll(`a:nth-child(3),a:nth-child(4)`)
    .forEach((a) =>
      a.addEventListener("click", async (e) => {
        e.preventDefault();

        navToggle("close");
        await timeout(500);

        const { href } = e?.target as any; // TS complains that this attribute doesn't exist, but it does
        href && navigate(href);
      })
    );
</script>
