---
import { navId, navIndexAnchorId } from "../../scripts/elementIds";
import styles from "./nav.module.scss";

const resumeId = import.meta.env.GOOGLE_DRIVE_RESUME_ID;
---

<div class={styles.navFixedContainer} transition:persist>
  <div class={styles.navRelativeContainer}>
    <nav id={navId} class={styles.nav}>
      <div class={styles.scroll}>
        <a href="mailto:nicozessoules@gmail.com">Contact</a>
        <a id={navIndexAnchorId}>Home</a>
        <a href="/about">About</a>
        <a href="/portfolio">Portfolio</a>
        <a href=`https://drive.google.com/uc?export=download&id=${resumeId}`
          >Resume</a
        >
        <a target="_blank" href="https://github.com/nicodes">Github</a>
        <a target="_blank" href="https://www.linkedin.com/in/nicozessoules"
          >Linkedin</a
        >
        <!-- {Array.apply(null, Array(400)).map((e) => <a>nav</a>)} -->
      </div>

      <div class={styles.borderContainer}>
        <div class={styles.border}></div>
      </div>
    </nav>
  </div>
</div>

<script>
  import { getNav, getNavIndexAnchor } from "../../scripts/client/elements";
  import { navigateHome } from "../../scripts/client/navigation";
  import { navId } from "../../scripts/elementIds";
  import { navToggle } from "./nav";

  getNavIndexAnchor()?.addEventListener("click", navigateHome);
  // getNav()
  //   ?.querySelectorAll(`a:not(#${navId})`)
  //   .forEach((a) => a.addEventListener("click", () => navToggle("close")));
</script>
